http://localhost:8080 {
    root * website
    
    file_server

    @page not path /media/*
    templates @page
    rewrite @page /templates/index.html

    encode gzip

    handle_errors {
        rewrite * /templates/error.html

        file_server
        templates
    }
}
