# https://github.com/dbohdan/caddy-markdown-site
# Copyright (c) 2021, 2025 D. Bohdan.
# License: MIT.

http://localhost:8080 {
	root * demo

	encode gzip

	file_server
	templates

	@templates {
		path /templates/*
		not path /templates/*.css /templates/*.js
	}
	handle @templates {
		error 403
	}

	@markdown {
		path_regexp \.md$
	}
	handle @markdown {
		rewrite * /templates/index.html
	}

	@markdown_exists {
		file {path}.md
	}
	handle @markdown_exists {
		map {path} {caddy_markdown_site.append_to_path} {
			default extension
		}
		rewrite * /templates/index.html
	}

	handle_errors {
		file_server
		templates

		@markdown_index_exists_404 {
			file {path}/index.md
			expression `{http.error.status_code} == 404`
		}
		handle @markdown_index_exists_404 {
			map {path} {caddy_markdown_site.append_to_path} {
				default index
			}
			file_server {
				status 200
			}
			rewrite * /templates/index.html
		}

		handle {
			rewrite * /templates/error.html
		}
	}
}
