<!DOCTYPE html>

{{/* https://github.com/dbohdan/caddy-markdown-site */}}

{{ $path := .OriginalReq.URL.Path }}
{{ $append := placeholder "caddy_markdown_site.append_to_path" }}
{{ if eq $append "extension" }}
    {{ $path = printf "%s.md" $path }}
{{ else if eq $append "index" }}
    {{ $path = printf "%s/index.md" $path }}
{{ end }}
{{ $markdownFile := (include $path | splitFrontMatter) }}

{{ $lang := default "" $markdownFile.Meta.lang }}
{{ $textDir := default "auto" $markdownFile.Meta.text_dir }}
{{ $title := default .OriginalReq.URL.Path $markdownFile.Meta.title }}

<html dir="{{ $textDir }}" lang="{{ $lang }}">
<head>
    <title>{{ $title }}</title>
    <meta property="og:title" content="{{ $title }}">
    <meta name="twitter:title" value="{{ $title }}">

    {{ include "/templates/head.html" }}
</head>

<body>
    {{ include "/templates/body-header.html" }}
    <main>
        <article>{{ markdown $markdownFile.Body }}</article>
    </main>
    {{ include "/templates/body-footer.html" }}
</body>

</html>
